<div class="cms-image" data-cms-image>
  <div class="cms-image__frame{% if widget.fit == 'contain' %} cms-image__frame--contain{% endif %}{% if not widget.preview_url %} is-empty{% endif %}">
    <img class="cms-image__preview{% if widget.fit == 'contain' %} cms-image__preview--contain{% endif %}{% if not widget.preview_url %} is-empty{% endif %}"
         {% if widget.preview_url %}src="{{ widget.preview_url }}"{% endif %}
         alt=""
         width="240"
         height="160"
         data-cms-image-preview
         {% if not widget.preview_url %}hidden{% endif %}>
    {% if widget.flag_code and not widget.preview_url %}
    <span class="cms-flag" data-code="{{ widget.flag_code }}" data-cms-flag>{{ widget.flag_mark }}</span>
    {% else %}
    <span class="cms-image__placeholder" data-cms-image-placeholder{% if widget.preview_url %} hidden{% endif %}>Немає зображення</span>
    {% endif %}
  </div>
  {% if widget.is_initial and not widget.required %}
    <label class="cms-image__clear">
      <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %} data-cms-image-clear>
      Прибрати зображення
    </label>
  {% endif %}
  <label class="cms-image__pick">
    <span class="cms-image__pick-btn">Обрати файл</span>
    <span class="cms-image__pick-name" data-cms-image-filename>Файл не вибрано</span>
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} data-cms-image-input>
  </label>
  {% if widget.is_fallback %}
    <p class="cms-image__hint">Зараз на сайті стандартне фото. Можна замінити своїм.</p>
  {% elif widget.flag_code and not widget.preview_url %}
    <p class="cms-image__hint">Якщо своє фото не завантажити, буде стандартний прапор валюти.</p>
  {% endif %}
</div>
